* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 1.5;
}

html {
    padding: 10px;
    
    
}

main {
    background-color: #eee;
    color: #333;
    padding: 20px;
    border-radius: 20px;
}

.user-input , .activite{
    width: 90%;
    padding: 5px 10px;
    margin: 13px auto;
    text-align: left; 
    
}

.user-input {
    display: block;
}

.btn-add {
    background-color: #f78c27;
    color: #fff;
    width: 70px;
    height: 70px;
    font-size: 2em;
    border: 1px solid #f78c27;
    border-radius: 50%;
}

.btn-add:hover , .btn-done:hover {
    cursor: pointer;
}

.btn-add:hover {
    background-color: #f78c27ea;
}

.btn-add:active {
    background-color: #f78c27b0;
}

.activites-list {
    display: flex;
    height: 420px;
    flex-flow: column nowrap;
    overflow: auto;
}

.activite {
    background-color: #f78c27;
    height: fit-content;
    color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.activite p{
    text-align: left;
    letter-spacing: 1.5px;
    margin-right: 8px;
    display: inline-block;
}

.activite .date {
    padding: 0px 5px;
    position: absolute;
    bottom: 0px;
    right: 10px;
    background-color: #dd8533;
    font-size: .75em;
    border-radius: 30px;
    color:#fff;
}

.user-input-value {
    background-color: #fff;
    color: #dd8533;
    width: max-content;
    padding: 5px;
    font-size: .85em;
    position: absolute;
    right: 20px;
    bottom: 5px;   
}

.container-user-input {
    position: relative;
}


@media (min-width: 550px){
    main {
        width: 70%;
        margin: 5px auto; 
        
    }

    .user-input-value {
        margin-left: 81.5%;
    }
    
}

@media (min-width: 768px){
    main {
        width: 50%;
        margin: 5px auto; 
        
    }

    .user-input-value {
        right: 40px;   
    }
    
}

